 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p><h2>황제하</h2>
                        <br>1993.10.04</p>

                    <p><b>2012.03 - 2018.02</b>
                    <br>                 
                    남서울대학교 소프트웨어학과 전공
                    <br>
                    남서울대학교 가상.증강현실학과(연계전공) 전공</p>

                    <p><b>2017.07 - </b>
                    <br>
                    인디고 엔터테인먼트 개발팀 소속</p>
                </div>                          
            </div>
        </div>
    </section>
